Checks: "
        -*,
        modernize-use-*, -modernize-use-trailing-return-type*,
        performance-*,
        mpi-*,
        openmp-*,
        -bugprone-*,
        readability-*, -readability-magic-numbers, -readability-redundant-access-specifiers, -readability-convert-member-functions-to-static,
        -clang-analyzer-*,
        -clang-diagnostic-*,
        "
AnalyzeTemporaryDtors: false
HeaderFilterRegex:     'src/.*'
FormatStyle:           file
