Checks:          '-modernize-use-trailing-return-type, modernize-use-*, performance-*, mpi-*, openmp-*, readability-*, cppcoreguidelines-*'
AnalyzeTemporaryDtors: false
HeaderFilterRegex: 'src/.*'
FormatStyle:     file
