Checks: "
        modernize-use-*, -modernize-use-trailing-return-type*,
        performance-*,
        mpi-*,
        openmp-*,
        bugprone-*,
        readability-*, -readability-magic-numbers, -readability-redundant-access-specifiers,
        -clang-analyzer-*
        "
AnalyzeTemporaryDtors: false
HeaderFilterRegex:     'src/.*'
FormatStyle:           file
UseColor:              true
